/* gallery display */

.albums, .movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

h1 {
  font-size: 30px;
  margin: 10px;
  color: gray;
  padding: 10px;
  @extend %bottom-border;
  font-weight: 300;
}

 ul { 
  list-style: none;
 }

 li {
  margin: 10px;
 }

 ul li a {
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
 ul li a:hover {
  opacity: 1.0;
}

 ul li a img {
  border: 3px solid #e1d9ec;
}

img {
  width: 300px;
}
